.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.tangram {
    position: relative;
    width: 300px;
    height: 300px;
    left: 50px;
    animation: moveFigures 10s forwards 1s;
}



.triangle-1, .triangle-2, .triangle-3, .triangle-4, .triangle-5, .square, .parallelogram {
    position: absolute;
    transition: all 5s;
}

.triangle-1 {
    width: 100px;
    height: 100px;
    background-color: #009EA6;
    clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
    top: 150px;
    left: -64px;
    transform: rotate(180deg);
    animation: moveTriangle1 10s forwards 1s;
}

.triangle-2 {
    width: 100px;
    height: 100px;
    border-left: 0px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid #EB4726;
    clip-path: polygon(50% 50%, 0% 100%, 100% 100%);

    top: 200px;
    left: 168px;
    transform: rotate(180deg);
    animation: moveTriangle2 10s forwards 1s;
}

.triangle-3 {
    width: 200px;
    height: 200px;
    background-color: #0F82F2;
    clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
    top: 150px;
    left: -23px;
    transform: rotate(225deg);
    animation: moveTriangle3 10s forwards 1s;
}

.triangle-4 {
    width: 200px;
    height: 200px;
    background-color: #CD0E66;
    clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
    top: 150px;
    left: -23px;
    transform: rotate(135deg);
    animation: moveTriangle4 10s forwards 1s;
}

.triangle-5 {
    width: 140px;
    height: 140px;
    background-color: #6D3BBF;
    clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
    top: 250px;
    left: 6px;
    transform: rotate(180deg);
    animation: moveTriangle5 10s forwards 1s;
}

.square {
    width: 71px;
    height: 71px;
    background-color: #22AB24;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    top: 164.1px;
    left: -99.5px;
    transform: rotate(45deg);
    animation: moveSquare 10s forwards 1s;
}

.parallelogram {
    width: 150px;
    height: 150px;
    background-color: #FD8C00;
    clip-path: polygon(33% 67%, 100% 67%, 67% 100%, 0% 100%);
    top: 50px;
    left: 119px;
    transform: scaleX(-1);
    animation: moveParallelogram 10s forwards 1s;
}

@keyframes moveTriangle1 {
    0% { transform: translateX(0) translateY(0) rotate(180deg) ; }
    50% { transform: translateX(50px) translateY(-30px) rotate(90deg) ; }
}

@keyframes moveTriangle2 {
    0% { transform: translateX(0) translateY(0) rotate(180deg); }
    50% { transform: translateX(-247px) translateY(83px) rotate(180deg); }
}

@keyframes moveTriangle3 {
    0% { transform: translateX(0) translateY(0) rotate(225deg); }
    50% { transform: translateX(-1px) translateY(-150px) rotate(315deg); }
}

@keyframes moveTriangle4 {
    0% { transform: translateX(0) translateY(0) rotate(135deg); }
    50% { transform: translateX(-1px) translateY(-150px) rotate(45deg); }
}

@keyframes moveTriangle5 {
    0% { transform: translateX(0) translateY(0) rotate(180deg); }
    50% { transform: translateX(-55px) translateY(-37px) rotate(135deg); }
}

@keyframes moveSquare {
    0% { transform: translateX(0) translateY(0) rotate(45deg); }
    50% { transform: translateX(233px) translateY(100px) rotate(45deg); }
}

@keyframes moveParallelogram {
    0% { transform: translateX(0) translateY(0) scaleX(-1); }
    50% { transform: translateX(0px) translateY(99px) rotate(90deg) scaleX(-1); }
}

/* src/assets/css/Loader.css */
.loading-text {
    margin-top: 500px;
    margin-left: -350px;
    font-size: 16px;
    color: #333;
    text-align: center;
}
